
.header {
    display:flex;
    flex-direction:row;
    background-color:white;
    height:55px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 10px rgb(214, 209, 209);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:1000; 
}
.left-section {
display:flex;
flex-direction:row;
}
.img-facebook:hover {
    cursor: pointer;
}
.img-facebook{
    height:40px;
    width:40px;
}
.img-search {
    height:40%;
    width:40%;
}
.search-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(232, 234, 238);
    height:40px;
    width:40px;
    border-radius: 20px;
    margin-left:10px;
}
.img-facebook {
    margin-left:10px;
}

.middle-section {
    display:flex;
    position: relative;
    width: 400px;
    justify-content: space-between;
    margin-left:130px;
}
.img-home, .img-group,  
.img-gaming {
    height:25px;
    width:25px;

}
.middle-section-container {
    display:flex;
    justify-content: center;
    align-items: center;
    width:100px;
    height:50px;
    flex-direction: column;
}

 .middle-section-container-p, .right-section-container-p  {
    display:flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    bottom:-45px;
    font-size:13px;
    color:white;
    background-color:rgba(44, 43, 43, 0.9);
    height:40px;
    padding:10px;
    border-radius:10px;
    opacity: 0;
} 

.middle-section-container:hover  {
    background-color: rgba(216, 208, 208, 0.3);
    border-radius: 10px;
    cursor: pointer;
}
.middle-section-container:hover  .middle-section-container-p {
    opacity:1;
}
.img-marketplace{
    height:23px;
    width:23px;
    vertical-align:-9px;
}

.right-section {
    display:flex;
    margin-right:20px;
    width:180px;
    align-items: center;
    justify-content: space-between;
    position: relative;

}

.img-message,
.img-notif {
    height:20px;
    width:20px;
    
}
.img-plus {
    height:15px;
    width:15px;
    padding-right:2px;
}

.right-section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(232, 234, 238);
    width: 40px;
    height:40px;
    border-radius: 22px;
}
.right-section-container:hover {
    background-color: rgb(59, 59, 59, 0.2);
}
.right-section-container:hover  .right-section-container-p{
    opacity: 1;
}
.img-joshua {
    height:40px;
    width:40px;
    border-radius: 20px;
}

