

.main-div-second-layer {
    border: 1px solid rgba(185, 174, 174, 0.7);
    background-color: white;
    display: flex;
    flex-direction: column;
    padding:10px 10px;
    width:50vw;
    gap:10px;
    border-radius: 10px;
    margin-bottom:15px;
}


.main-div-second-layer-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-div-second-layer-profile-aa {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-div-second-layer-profile-a {
    display: flex;
    gap:10px;
    flex-direction: row;
}
.main-div-second-layer-profile-b {
    display: flex;
    flex-direction: column;
}
.name-josh {
    font-weight: 500;
    font-size: 17px;
}

.main-div-second-layer-profile-c  {
    display: flex;
    flex-direction: row;
    gap:3px;
}

.main-div-second-layer-profile-a img {
    width:40px;
    height:40px;
    border-radius: 50px;
}


.main-div-second-layer-profile-c img {
    width:13px;
    height:13px;
    margin-top:3px;
}
.main-div-second-layer-profile-c p {
    font-size: 15px;
}

.main-div-second-layer-picture {
    height:600px;
    width:100%;
    border-radius: 15px;
}
.main-div-second-layer-picture img {
    width:100%;
    height:100%;
    border-radius: 15px;
    object-fit: cover;
}
.main-div-second-layer-picture-div {
    display:flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 1370px){
    .main-div-second {
        width:700px;
    }
    .main-div-second-layer {
        width:660px;
    }
    .main-div-second-layer-picture {
        height:800px;
        width:660px;
    }
    
 }

 @media (max-width:900px) {
    .main-div-second {
        width:450px;
       
    }
    .main-div-second-layer {
        width:430px;
    }
    .main-div-second-layer-picture {
        height:430px;
        width:430px;
    }

 }
 hr {
    border-color:rgba(50, 50, 51, 0.1);
}
 .main-div-second-layer-container {
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size:15px;
    color:gray
 }
 .main-div-second-layer-container img{
    height:16px;
    width:16px;
    z-index:100;
   
 }
.main-div-second-layer-heart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:20px;
    position:relative;
   
}
.like-like {
    position: absolute;
    left:13px;
}

.main-div-second-layer-comment-share {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:10px;
}
.main-div-second-layer-comment {
    display: flex;
    flex-direction: row;
    gap:5px;
}

.main-div-second-layer-share {
    display: flex;
    flex-direction: row;
    gap:5px;
}

.like-comment-share {
    color:gray;
    font-weight:500;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width:90%;
    position: relative;
    height:35px;
    margin-top:-8px;
}

.like-comment-share-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.like-container {
    display: flex;
    flex-direction: row;
    gap:10px;
}

.like-container img{
    width:25px;
    height:25px;
}
.like-container p {
    margin-top:3px;
}
.like-comment-profile-container {
    position: absolute;
    top:5px;
    right:-50px;
    display: flex;
    flex-direction: row;
    gap:3px;
    padding:7px;
}
.up {
    height:20px;
    width:20px;
    border-radius: 10px;
}
.down {
    margin-top:5px;
    height:10px;
    width:10px;
}
.like {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width:200px;
    padding:20px;
}
.like:hover, .like-comment-profile-container:hover {
    background-color: rgba(216, 208, 208, 0.3); 
       border-radius: 5px;
       cursor: pointer;
       
}
.main-div-second-layer-heart:hover,
.main-div-second-layer-comment:hover, 
.main-div-second-layer-share:hover, 
.name-josh:hover,
.hours:hover{
    text-decoration: underline;
    cursor: pointer;
}
.profile-image:hover {
    cursor: pointer;
}
.dot-dot-dot, .ekis-close {
    display: flex;
    align-items: center;
    justify-content: center;
    widtH:35px;
    height:35px;
    padding:10px;
    border-radius: 20px;
}
.main-div-second-layer-profile-aa img {
    width:100%;
    height:100%;
}
.dot-dot-dot:hover, .ekis-close:hover  {
    background-color: rgba(216, 208, 208, 0.3); 
       cursor: pointer;
} 
