
.set-of-pictures-hide {
    height:200px;
    width:450px;
    left:280px;
    position: relative;
    overflow:hidden;  

}
.button-left {
    position: absolute;
    width:50px;
    height:50px;
    top:70px;
    right:10px;
    border-radius:25px;
    z-index:10;
}
.set-of-pictures {
   display:flex;
   justify-content: center;
   align-items: center;
   gap:10px;
   position: absolute;
   
}

.set-of-pictures img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius:10px;
    filter:brightness(80%);
    
    
}
.main-pictures-container {
    height:200px;
    width:115px;
    overflow:hidden;
}
.move-pictures {
    left:var(--move);
 }

.main-pictures-container:nth-child(1) 
img:hover{
    transform:scale(1);
    cursor:pointer;
 }
 

 .set-of-pictures img:hover {
    transform:scale(1.01);
    cursor:pointer;
}  

