
.side-bar-right-div{
position:relative;
width:30vw;  
}
.sidebar-right {
    display:flex;
    flex-direction: column;
    position:fixed;
    margin-top:55px;
    z-index:200;
    top:0;
    bottom:0;
    padding-top:20px;
    gap:5px;
    color:rgba(50, 50, 51, 0.9);
    font-weight: 550;
    width:27vw;   
 
}


.sidebar-right-container {
    display:flex;
    flex-direction: row;
    padding:10px;
    gap:10px;
  
}


.sidebar-right-container-image {
    height:70px;
    width:70px; 
   
} 
.sidebar-right-container-image img {
    height: 70px;
    width: 70px;
    border-radius: 10px;
    object-fit: cover;
    
}

.sidebar-right-container-p {
    display: flex;
    justify-content: center;
    align-items: center;
} 
.your-pages-and-profiles-container {
    display: flex;
    flex-direction: column;
    gap:5px;
}

.your-pages-and-profiles {
    height:40px;
    align-items: center;
    display:flex;
    justify-content: space-between;
}


.three-dots {
    height:15px;
    height:15px;
    object-fit: cover;
} 


.brave-plays-container {
    display:flex;
    flex-direction: row;
    color: black;
    font-weight: 550;
    font-size: 14px;
    padding:10px;
    gap:10px;
}
.brave-plays-container-image, 
.brave-plays-container-p {
    display:flex;
    align-items: center;
    justify-content: center;
   
}


.brave-plays-container img {
    height: 35px;
    width: 35px;
    border-radius: 20px; 
}

.switch-container {
    display:flex;
    flex-direction: row;
    font-size: 12px;
    gap:10px;
    margin-left:10px;
    padding:9px;
}


.switch-container-image, 
.switch-container-p {
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.switch-container img {
    height:18px;
    width: 18px;
}
hr {
    border-color:rgba(50, 50, 51, 0.1);
}


.birthday-container {
    display:flex;
    flex-direction: row;
    padding:10px;
    border-radius: 10px;
    gap:10px;
}
.birthday-container:hover {
    background-color: rgba(216, 208, 208, 0.3); 
   border-radius: 10px;
   cursor: pointer;
}

.birthday-container-image {
    display: flex;
    align-items: center;
    justify-content: center;
}
.birthday-container-image img {
    vertical-align: 10px;
    height:25px;
    width: 25px;
}
.birthday-container-p {
    display: flex;
    align-items: center;
    justify-content: center;
}
.birthday-container p {
    font-size: 13px;
}

.contacts-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.contacts-container-contacts {
    display: flex;
    align-items: center;
 
}
.contact-three{
    width:15px;
    height:15px;
}
.contact-search {
    width:13px;
    height:13px;
}
.contacts-contain {
    display: flex;
    flex-direction: row;
    gap:5px;
   
}
.contact-name-container {
    display: flex;
    flex-direction: column;
    gap:20px;
}
.contact-name {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap:10px;
    padding:5px;
    border-radius: 10px;
}
.contact-name-images, .contact-name-p {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-name img {
    width:40px;
    height:40px;
    border-radius: 20px;
}
.contact-name p {
    font-size:15px;
    font-weight: 500;
    color: black;

}

.sidebar-right-container:hover, .brave-plays-container:hover, .switch-container:hover {
    background-color: rgba(216, 208, 208, 0.3); 
   border-radius: 10px;
   cursor: pointer;
   }


 .contact-images {
    height:30px;
    width:30px;
    border-radius: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
 }

 .contact-images:hover,  
 .your-pages-and-profiles-images:hover {
    background-color:rgba(134, 133, 133, 0.2);
 }
 .your-pages-and-profiles-images {
    display:flex;
    align-items: center;
    justify-content: center;
    height:30px;
    width:30px;
    border-radius: 20px;
 }
 .contact-name:hover {
    background-color:rgba(134, 133, 133, 0.2);
    cursor: pointer;
 }