
  

.sidebar-left-div {
    display: none;  
    flex:1;
    position:relative;
}
.sidebar-left {
    display:flex;
    position: fixed;
    margin-top:55px;
    top:0;
    bottom:0;
    flex-direction: column;
    z-index:200;
    overflow-y: scroll;
    margin-left:10px;
    padding-top:20px;
    width:20vw;
}

.sidebar-left-container {
    gap:15px;
    display:flex;
    flex-direction: row; 
    align-items: center;
    padding:10px;
}

.sidebar-left-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-left-image {
    height:35px;
    width:35px;
    vertical-align: -20px;
    object-fit: cover;
}


.sidebar-left-image-container-p {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.sidebar-left-p {
    font-size: 0.9rem;
    font-weight:500;
}



.sidebar-left-container:nth-child(1)
 .sidebar-left-image-container img{
    border-radius: 30px;
}

/* .sidebar-left-container:nth-last-child(-n+18) {
    opacity: 0;
} */
.sidebar-left-container:nth-last-child(7) {
    opacity: 0;
}
.ehem {
    opacity: 1;
}

.sidebar-left-container:hover {
 background-color: rgba(216, 208, 208, 0.3); 
border-radius: 10px;
cursor: pointer;
}

.shortcut {
    display: flex;
    flex-direction: column;
    gap:3px;
}
.shortcut-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom:8px;
}


.shortcut-image {
    gap:15px;
    display:flex;
    flex-direction: row; 
    align-items: center;
    padding:10px;
}
.shortcut-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-left-image {
    height:35px;
    width:35px;
    vertical-align: -20px;
}

.shortcut-image-container-p {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.sidebar-left-p {
    font-size: 0.9rem;
    font-weight:500;
}
.hra {
    margin: 10px 0;
}

.shortcut-image:hover {
    background-color: rgba(216, 208, 208, 0.3); 
    border-radius: 10px;
    cursor: pointer;
}